BankFactory/WebContent/factory/schemasWSDL/createTransaccion.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://CreateTransaccion" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreateTransaccion" targetNamespace="http://CreateTransaccion">
<wsdl:documentation>
<wsdl:appinfo source="WMQI_APPINFO">
<MRWSDLAppInfo imported="true">
<generatedXSD location="CreateTransaccion_InlineSchema1.xsd"/>
<binding hasEncoding="false" imported="true" name="CreateTransaccionHttpBinding" originalBindingStyle="document"/>
</MRWSDLAppInfo>
</wsdl:appinfo>
</wsdl:documentation>
<wsdl:types>
<xsd:schema targetNamespace="http://CreateTransaccion">
<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="id_cuenta_origen" nillable="true" type="xsd:int"/>
<xsd:element name="id_cuenta_destino" nillable="true" type="xsd:int"/>
<xsd:element name="id_tipo_transaccion" nillable="true" type="xsd:int"/>
<xsd:element name="monto_transferido" nillable="true" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="resultado" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="operation1RequestMsg">
<wsdl:part element="tns:operation1" name="operation1Parameters"/>
</wsdl:message>
<wsdl:message name="operation1ResponseMsg">
<wsdl:part element="tns:operation1Response" name="operation1Result"/>
</wsdl:message>
<wsdl:portType name="CreateTransaccion">
<wsdl:operation name="operation1">
<wsdl:input message="tns:operation1RequestMsg" name="operation1Request"/>
<wsdl:output message="tns:operation1ResponseMsg" name="operation1Response"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CreateTransaccionHttpBinding" type="tns:CreateTransaccion">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="operation1">
<soap:operation soapAction="http://CreateTransaccion/operation1"/>
<wsdl:input name="operation1Request">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="operation1Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CreateTransaccionHttpService">
<wsdl:port binding="tns:CreateTransaccionHttpBinding" name="CreateTransaccionHttpPort">
<soap:address location="http://172.16.11.225:7800/webServices/createTransaccion"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>