BankFactory/WebContent/factory/schemasWSDL/GetTransacciones.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://getTransacciones" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getTransacciones" targetNamespace="http://getTransacciones">
<wsdl:documentation>
<wsdl:appinfo source="WMQI_APPINFO">
<MRWSDLAppInfo imported="true">
<binding hasEncoding="false" imported="true" name="getTransaccionesHttpBinding" originalBindingStyle="document"/>
<generatedXSD location="getTransacciones_InlineSchema1.xsd"/>
</MRWSDLAppInfo>
</wsdl:appinfo>
</wsdl:documentation>
<wsdl:types>
<xsd:schema targetNamespace="http://getTransacciones">
<xsd:import schemaLocation="http://172.16.11.225:7800/getTransacciones/getTransacciones?xsd=xsd0"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="operation1RequestMsg">
<wsdl:part element="tns:operation1" name="operation1Parameters"/>
</wsdl:message>
<wsdl:message name="operation1ResponseMsg">
<wsdl:part element="tns:operation1Response" name="operation1Result"/>
</wsdl:message>
<wsdl:message name="operation2RequestMsg">
<wsdl:part element="tns:operation2InputParameter1" name="operation2InputParameter1"/>
</wsdl:message>
<wsdl:message name="operation2ResponseMsg">
<wsdl:part element="tns:operation2OutputParameter1" name="operation2OutputParameter1"/>
</wsdl:message>
<wsdl:portType name="getTransacciones">
<wsdl:operation name="operation1">
<wsdl:input message="tns:operation1RequestMsg" name="operation1Request"/>
<wsdl:output message="tns:operation1ResponseMsg" name="operation1Response"/>
</wsdl:operation>
<wsdl:operation name="operation2">
<wsdl:input message="tns:operation2RequestMsg" name="operation2Request"/>
<wsdl:output message="tns:operation2ResponseMsg" name="operation2Response"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="getTransaccionesHttpBinding" type="tns:getTransacciones">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="operation1">
<soap:operation soapAction="http://getTransacciones/operation1"/>
<wsdl:input name="operation1Request">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="operation1Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="operation2">
<soap:operation soapAction=""/>
<wsdl:input name="operation2Request">
<soap:body parts="operation2InputParameter1" use="literal"/>
</wsdl:input>
<wsdl:output name="operation2Response">
<soap:body parts="operation2OutputParameter1" use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="getTransaccionesHttpService">
<wsdl:port binding="tns:getTransaccionesHttpBinding" name="getTransaccionesHttpPort">
<soap:address location="http://172.16.11.225:7800/getTransacciones/getTransacciones"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>