BankFactory/WebContent/factory/schemasWSDL/usersDisponibles.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://UsersDisponibles" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersDisponibles" targetNamespace="http://UsersDisponibles">
<wsdl:documentation>
<wsdl:appinfo source="WMQI_APPINFO">
<MRWSDLAppInfo imported="true">
<generatedXSD location="UsersDisponibles_InlineSchema1.xsd"/>
<binding hasEncoding="false" imported="true" name="UsersDisponiblesHttpBinding" originalBindingStyle="document"/>
</MRWSDLAppInfo>
</wsdl:appinfo>
</wsdl:documentation>
<wsdl:types>
<xsd:schema targetNamespace="http://UsersDisponibles">
<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="cedulaCliente" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="resultado" nillable="true" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="operation1RequestMsg">
<wsdl:part element="tns:operation1" name="operation1Parameters"/>
</wsdl:message>
<wsdl:message name="operation1ResponseMsg">
<wsdl:part element="tns:operation1Response" name="operation1Result"/>
</wsdl:message>
<wsdl:portType name="UsersDisponibles">
<wsdl:operation name="operation1">
<wsdl:input message="tns:operation1RequestMsg" name="operation1Request"/>
<wsdl:output message="tns:operation1ResponseMsg" name="operation1Response"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="UsersDisponiblesHttpBinding" type="tns:UsersDisponibles">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="operation1">
<soap:operation soapAction=""/>
<wsdl:input name="operation1Request">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="operation1Response">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="UsersDisponiblesHttpService">
<wsdl:port binding="tns:UsersDisponiblesHttpBinding" name="UsersDisponiblesHttpPort">
<soap:address location="http://172.16.11.225:7800/UsersDisponibles/UsersDisponibles"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>